/* Reset */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #f4f6f8, #eef1f5);
  color: #333;
}

/* Header */
header {
  background: linear-gradient(135deg, #2c3e50, #1a252f);
  color: white;
  text-align: center;
  padding: 18px;

  position: sticky;
  top: 0;
}

header h1 {
  margin: 5px;
}

.tagline {
  font-size: 14px;
  opacity: 0.8;
}

/* Nav */
nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
}

/* Boxes */
.box {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-left: 4px solid #2c3e50;
  border-radius: 6px;
}

/* Cards */
.card {
  background: white;
  margin: 15px 0;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

/* Card header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Arrow */
.arrow {
  transition: 0.3s;
}

/* Hidden content */
.card-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.card.active .card-content {
  max-height: 200px;
}

.card.active .arrow {
  transform: rotate(90deg);
}

/* Featured card highlight */
.featured {
  border: 2px solid #e67e22;
  position: relative;
  background: linear-gradient(145deg, #ffffff, #fff7f0);
}

/* Badge */
.badge {
  position: absolute;
  top: -10px;
  left: 15px;
  background: #e67e22;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: bold;
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: white;
  margin-top: 40px;
}
footer a {
  color: #f39c12;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}